body {
  height: 100%;
  padding: 3em;
}

#editorjs {
  background: var(--color-white);
}

button {
  background: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 1em;
  margin-top: 2em;
}
