<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <title>Web Starter Kit</title>
  <link media="all" rel="stylesheet" href="@@webRoot/css/@@vendorStyles">
  <link media="all" rel="stylesheet" href="@@webRoot/css/@@mainStyles">
</head>
